@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Teko&display=swap");
* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 14px;
}

ul {
  list-style-type: none;
  margin: 0;
}

a {
  text-decoration: none;
}

hr {
  background-color: white;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 119px;
  position: fixed;
  z-index: 1;
}
header .logo {
  width: 25vw;
}
header .logo img {
  width: 60px;
  position: relative;
  left: 25%;
}
header .nav-container {
  width: 75vw;
}
header .nav-container .navigation-bar {
  width: 66%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
header .nav-container .navigation-bar .btn-movil {
  width: 30px;
  height: 30px;
}
header .nav-container .navigation-bar .btn-movil-o-active, header .nav-container .navigation-bar .btn-movil-c {
  display: none;
}
header .nav-container .navigation-bar .navlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-family: "Roboto Condensed";
  font-weight: bold;
  padding-left: 0;
  width: 620px;
}
header .nav-container .navigation-bar .navlist .nav-link {
  color: #F2F2F2;
  font-size: 1em;
}
header .nav-container .navigation-bar .navlist .nav-link-1:hover, header .nav-container .navigation-bar .navlist .nav-link-1.active {
  color: #FD982D;
}
header .nav-container .navigation-bar .navlist .nav-link-2:hover, header .nav-container .navigation-bar .navlist .nav-link-2.active, header .nav-container .navigation-bar .navlist .nav-link-2-a {
  color: #AD8FF5;
}
header .nav-container .navigation-bar .navlist .nav-link-3:hover, header .nav-container .navigation-bar .navlist .nav-link-3.active {
  color: #FEC92E;
}
header .nav-container .navigation-bar .navlist .nav-link-4:hover, header .nav-container .navigation-bar .navlist .nav-link-4.active {
  color: #8ADFDF;
}
header .nav-container .navigation-bar .navlist .nav-link-5:hover, header .nav-container .navigation-bar .navlist .nav-link-5.active {
  color: #FD5A33;
}
@media screen and (max-width: 576px) {
  header {
    height: 65px;
    background-color: black;
  }
  header .logo img {
    width: 33px;
    left: 45px;
  }
  header .nav-container .navigation-bar {
    width: 100%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-right: 45px;
  }
  header .nav-container .navigation-bar .navlist {
    display: none;
  }
  header .nav-container .navigation-bar .btn-movil {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .nav-container .navigation-bar .btn-movil-c {
    display: none;
  }
  header .nav-container .navigation-bar .btn-movil-c-active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-animation: btn-rotate 0.4s linear forwards;
            animation: btn-rotate 0.4s linear forwards;
  }
  header .nav-container .navigation-bar .btn-movil-o {
    display: none;
  }
  header .nav-container .navigation-bar .btn-movil-o-active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    animation: btn-o-rotate 0.4s linear forwards;
  }
  header .mobile-nav-inactive {
    -webkit-animation: recoge 0.4s linear forwards !important;
            animation: recoge 0.4s linear forwards !important;
  }
  header .mobile-nav-inactive ul {
    display: none;
  }
  header .mobile-nav-active, header .mobile-nav-inactive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 64px;
    z-index: 2;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    background-color: black;
    width: 100vw;
    padding: 0;
    -webkit-animation: deploy 0.4s linear forwards;
            animation: deploy 0.4s linear forwards;
  }
  header .mobile-nav-active ul, header .mobile-nav-inactive ul {
    padding-bottom: 50px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    width: 80%;
  }
  header .mobile-nav-active ul li, header .mobile-nav-inactive ul li {
    border-top: 0.5px solid white;
    border-bottom: 0.5px solid white;
  }
  header .mobile-nav-active ul li:first-child, header .mobile-nav-inactive ul li:first-child {
    border-top: none;
  }
  header .mobile-nav-active ul li .nav-link, header .mobile-nav-inactive ul li .nav-link {
    height: 71px;
    color: #F2F2F2;
    font-size: 1.65em;
    font-family: "Roboto Condensed";
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.header-fixed {
  -webkit-animation: BGchange 0.8s ease;
          animation: BGchange 0.8s ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.header-fixed-c {
  background-color: black;
}

.header-init {
  -webkit-animation: BGreset 0.1s ease;
          animation: BGreset 0.1s ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes BGchange {
  100% {
    background-color: black;
    padding: 8px 0;
  }
}

@keyframes BGchange {
  100% {
    background-color: black;
    padding: 8px 0;
  }
}
@-webkit-keyframes BGreset {
  100% {
    background-color: none;
  }
}
@keyframes BGreset {
  100% {
    background-color: none;
  }
}
@-webkit-keyframes deploy {
  0% {
    height: 0;
    opacity: 0;
  }
  100% {
    height: 568px;
    opacity: 1;
  }
}
@keyframes deploy {
  0% {
    height: 0;
    opacity: 0;
  }
  100% {
    height: 568px;
    opacity: 1;
  }
}
@-webkit-keyframes recoge {
  0% {
    height: 568px;
    opacity: 1;
  }
  100% {
    height: 0px;
    opacity: 0;
    display: none;
  }
}
@keyframes recoge {
  0% {
    height: 568px;
    opacity: 1;
  }
  100% {
    height: 0px;
    opacity: 0;
    display: none;
  }
}
@-webkit-keyframes btn-rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 0;
  }
  25% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    opacity: 0.25;
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    opacity: 0.7;
  }
  75% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes btn-rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 0;
  }
  25% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    opacity: 0.25;
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    opacity: 0.7;
  }
  75% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes btn-o-rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 0;
  }
  25% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
    opacity: 0.5;
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    opacity: 0.7;
  }
  75% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@keyframes btn-o-rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 0;
  }
  25% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
    opacity: 0.5;
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    opacity: 0.7;
  }
  75% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
footer {
  height: 35px;
  border-top: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .footer-info {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 28px;
}
footer .footer-info p {
  font-family: "Roboto";
  font-size: 0.7em;
  margin: 0;
  color: #3F4650;
  text-align: center;
}
footer .footer-info p span {
  font-size: 1em;
}
footer .footer-info p strong {
  font-size: 1em;
}
footer .ft-cr {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
footer .ft-cr p {
  font-family: "Roboto";
  font-size: 0.7em;
  margin: 0;
  color: #3F4650;
  padding-right: 28px;
}
@media screen and (max-width: 576px) {
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footer-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding: 11px 0;
  }
  footer .footer-info span {
    display: none;
  }
  footer .ft-cr {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #3F4650;
  }
  footer .ft-cr p {
    color: white;
    padding: 7px 0;
    font-size: 7px;
  }
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: solid 2px black;
  -webkit-box-shadow: 0 0 1px #fff inset;
          box-shadow: 0 0 1px #fff inset;
  height: 48px;
  border-radius: 10px;
}
.btn a {
  color: black;
  font-size: 1.2em;
  font-weight: 700;
  padding: 0 15px;
  font-family: "Roboto Condensed";
}
.btn a:hover {
  color: #1a1a1a;
}
.btn-cursos {
  background-color: #AD8FF5;
}
.btn-cursos:hover {
  background-color: #bba2f7;
}
.btn-apuntes {
  margin-left: 16px;
  background-color: #8ADFDF;
}
.btn-apuntes:hover {
  background-color: #9ae3e3;
}
@media screen and (max-width: 576px) {
  .btn {
    width: 90%;
    margin: 0;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .btn-cursos {
    margin-bottom: 9px;
  }
}

.carousel-indicators {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: -30px;
}
.carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #FEC92E;
  padding: 0;
  margin: 0 7px;
}
.carousel-indicators .active {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #FEC92E;
  border: 1px solid black;
  opacity: 0.8;
}

.wa-button {
  width: 195px;
  height: 48px;
  border-radius: 8px;
  background-color: #23ca62;
  position: fixed;
  bottom: 28px;
  right: 21px;
  border: none;
  z-index: 1;
}
.wa-button a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: white;
  font-family: "Roboto";
  font-weight: bold;
  padding: 0 6px;
}
.wa-button a:hover {
  color: #f2f2f2;
}
.wa-button a p {
  margin: 0;
}
.wa-button-b {
  width: 195px;
  height: 48px;
  border-radius: 8px;
  background-color: #23ca62;
  position: fixed;
  bottom: 28px;
  right: 21px;
  border: none;
  z-index: 1;
  -webkit-animation: wa-2 0.4s ease-in forwards;
          animation: wa-2 0.4s ease-in forwards;
}
.wa-button-b a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: white;
  font-family: "Roboto";
  font-weight: bold;
  padding: 0 6px;
}
.wa-button-b a:hover {
  color: #f2f2f2;
}
.wa-button-b a p {
  margin: 0;
}
.wa-button:hover {
  background-color: #2dda6e;
}

@-webkit-keyframes wa {
  0% {
    top: 360px;
  }
  100% {
    top: 650px;
  }
}

@keyframes wa {
  0% {
    top: 360px;
  }
  100% {
    top: 650px;
  }
}
@-webkit-keyframes wa-2 {
  0% {
    top: 650;
  }
  100% {
    top: 360;
  }
}
@keyframes wa-2 {
  0% {
    top: 650;
  }
  100% {
    top: 360;
  }
}
.review-box {
  width: 220px;
  height: 220px;
  border-radius: 10px;
  border: 2px solid #3F4650;
}

.review-mobile-box {
  height: 200px;
  width: 80%;
  background-color: #FD982D;
  position: relative;
  -webkit-box-shadow: 0px 0px 70px 0px #00000026;
          box-shadow: 0px 0px 70px 0px #00000026;
}

.cursos-box, .cursos-box-6, .cursos-box-5, .cursos-box-4, .cursos-box-3, .cursos-box-2, .cursos-box-1 {
  width: 238px;
  height: 198px;
  border-radius: 10px;
  border: 3px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cursos-box .inner-box, .cursos-box-6 .inner-box, .cursos-box-5 .inner-box, .cursos-box-4 .inner-box, .cursos-box-3 .inner-box, .cursos-box-2 .inner-box, .cursos-box-1 .inner-box {
  width: 70%;
  height: 70%;
}
.cursos-box .inner-box h3, .cursos-box-6 .inner-box h3, .cursos-box-5 .inner-box h3, .cursos-box-4 .inner-box h3, .cursos-box-3 .inner-box h3, .cursos-box-2 .inner-box h3, .cursos-box-1 .inner-box h3 {
  font-size: 1.8em;
  color: black;
  font-weight: 700;
  font-family: "Roboto Condensed";
}
.cursos-box .inner-box .inner-list-mobile, .cursos-box-6 .inner-box .inner-list-mobile, .cursos-box-5 .inner-box .inner-list-mobile, .cursos-box-4 .inner-box .inner-list-mobile, .cursos-box-3 .inner-box .inner-list-mobile, .cursos-box-2 .inner-box .inner-list-mobile, .cursos-box-1 .inner-box .inner-list-mobile {
  display: none;
}
.cursos-box .inner-box .inner-list, .cursos-box-6 .inner-box .inner-list, .cursos-box-5 .inner-box .inner-list, .cursos-box-4 .inner-box .inner-list, .cursos-box-3 .inner-box .inner-list, .cursos-box-2 .inner-box .inner-list, .cursos-box-1 .inner-box .inner-list {
  padding-left: 0;
}
.cursos-box .inner-box .inner-list-item, .cursos-box-6 .inner-box .inner-list-item, .cursos-box-5 .inner-box .inner-list-item, .cursos-box-4 .inner-box .inner-list-item, .cursos-box-3 .inner-box .inner-list-item, .cursos-box-2 .inner-box .inner-list-item, .cursos-box-1 .inner-box .inner-list-item {
  list-style: none;
  color: black;
  padding: 0;
}
.cursos-box-1 {
  background-color: #FD5A33;
}
.cursos-box-2 {
  background-color: #FEC92E;
}
.cursos-box-3 {
  background-color: #FD982D;
}
.cursos-box-4 {
  background-color: #AD8FF5;
}
.cursos-box-5 {
  background-color: #8ADFDF;
}
.cursos-box-6 {
  background-color: #FD5A33;
}
@media screen and (max-width: 576px) {
  .cursos-box, .cursos-box-6, .cursos-box-5, .cursos-box-4, .cursos-box-3, .cursos-box-2, .cursos-box-1 {
    width: 80vw;
    height: 120px;
  }
  .cursos-box h3, .cursos-box-1 h3, .cursos-box-2 h3, .cursos-box-3 h3, .cursos-box-4 h3, .cursos-box-5 h3, .cursos-box-6 h3 {
    font-size: 2em;
  }
  .cursos-box .inner-list, .cursos-box-1 .inner-list, .cursos-box-2 .inner-list, .cursos-box-3 .inner-list, .cursos-box-4 .inner-list, .cursos-box-5 .inner-list, .cursos-box-6 .inner-list {
    display: none;
  }
  .cursos-box .inner-box, .cursos-box-1 .inner-box, .cursos-box-2 .inner-box, .cursos-box-3 .inner-box, .cursos-box-4 .inner-box, .cursos-box-5 .inner-box, .cursos-box-6 .inner-box {
    width: 100%;
    padding-top: 10px;
    padding-left: 5%;
  }
  .cursos-box .inner-list-mobile, .cursos-box-1 .inner-list-mobile, .cursos-box-2 .inner-list-mobile, .cursos-box-3 .inner-list-mobile, .cursos-box-4 .inner-list-mobile, .cursos-box-5 .inner-list-mobile, .cursos-box-6 .inner-list-mobile {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 90%;
    margin: 0;
  }
}

.consultas-box {
  width: 100%;
  height: 70px;
  border: 2px solid black;
  background-color: #AD8FF5;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 35px 0 35px 0;
  text-align: center;
  color: #3F4650;
  line-height: 1.4em;
}
.consultas-box-text {
  font-size: 1.3em;
  margin-bottom: 0;
  color: white;
}
.consultas-box-text i {
  font-size: 1em;
  font-weight: 700;
}
@media screen and (max-width: 576px) {
  .consultas-box-text {
    font-size: 1.2em;
  }
}

.precios-box {
  width: 100%;
  height: 100px;
  border: 2px solid #3F4650;
  background-color: #FFFFFF;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0 10px 0;
  text-align: center;
  color: #3F4650;
  line-height: 1.4em;
}
.precios-box .precios-title {
  font-weight: 700;
  font-size: 1.3em;
  width: 60%;
}
.precios-box .precios-title span {
  font-weight: 300;
  font-size: 1.3em;
}
@media screen and (max-width: 576px) {
  .precios-box .precios-title {
    width: 95%;
    font-size: 1em;
  }
}

.box-apuntes {
  width: 90%;
  height: 45px;
  border: 2px solid black;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.box-apuntes h4 {
  margin: 3px 0 0 0;
  font-size: 1.4em;
  font-family: "Teko";
}

.slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  position: relative;
  top: 30%;
  font-family: "Roboto Slab";
  width: 100vw;
}

.carousel-item {
  height: 200px;
}

.carousel-indicators {
  z-index: 0;
}

.carousel-caption h1 {
  color: #FEC92E;
  font-size: 4em;
  line-height: 0.8em;
}
.carousel-caption h1 span {
  color: #FFFFFF;
  font-size: 1em;
}
.carousel-caption p {
  color: #FFFFFF;
  font-size: 1.5em;
}
.carousel-caption h2 {
  color: #FEC92E;
  font-size: 4em;
}

@media screen and (max-width: 576px) {
  .carousel {
    display: none;
  }
}

main {
  height: 552px;
  background-image: url("../images/fondo-principal.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
main .bg-main-mobile {
  display: none;
}
main .mobile-titles-1, main .mobile-titles-2 {
  display: none;
}
main .botones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  top: 50%;
}
@media screen and (max-width: 576px) {
  main .botones {
    top: 340px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
  }
}
@media screen and (max-width: 576px) {
  main {
    height: 730px;
    background-size: 576px 375px;
    background-position: top;
  }
  main .mobile-titles-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    font-family: "Roboto Slab";
    top: 169px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 10%;
  }
  main .mobile-titles-1 h2 {
    color: #FEC92E;
    font-size: 2.5em;
    line-height: 1em;
  }
  main .mobile-titles-1 h2 span {
    color: #FFFFFF;
    font-size: 1em;
  }
  main .mobile-titles-1 p {
    color: #FFFFFF;
    font-size: 1.5em;
  }
  main .mobile-titles-1 p {
    font-weight: 400;
  }
  main .mobile-titles-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    font-family: "Roboto Slab";
    top: 300px;
  }
  main .mobile-titles-2 h2 {
    color: #FEC92E;
    font-size: 2.5em;
    line-height: 1em;
  }
  main .mobile-titles-2 h2 span {
    color: #FFFFFF;
    font-size: 1em;
  }
  main .mobile-titles-2 p {
    color: #FFFFFF;
    font-size: 1.5em;
  }
  main .mobile-titles-2 p {
    color: black;
    font-weight: 500;
  }
  main .bg-main-mobile {
    display: block;
    position: absolute;
    top: 390px;
  }
}

.nosotros {
  background-image: url("../images/bg-nosotros.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nosotros .bg-us-mobile {
  display: none;
}
.nosotros .review-mobile {
  display: none;
}
.nosotros .nosotros-top {
  width: 70%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 30px;
}
.nosotros .nosotros-top-title {
  color: #FD982D;
  font-size: 4.8em;
  font-family: "Roboto Slab";
}
.nosotros .nosotros-top-info {
  font-size: 1.3em;
  font-family: "Roboto";
  color: #3F4650;
  font-weight: 400;
  line-height: 1.3em;
}
.nosotros .reviews-title {
  color: #A6A6A5;
  font-family: "Roboto Slab";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1.2em;
}
.nosotros .review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 60px 10%;
}
@media screen and (max-width: 576px) {
  .nosotros {
    padding-top: 90px;
    background-image: none;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .nosotros .bg-us-mobile {
    display: block;
    position: absolute;
    top: 750px;
    z-index: 0;
    max-width: 100%;
  }
  .nosotros .nosotros-top {
    width: 85%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .nosotros .nosotros-top-title {
    font-size: 2.9em;
    margin-bottom: 20px;
  }
  .nosotros .nosotros-top-info {
    font-size: 1.2em;
  }
  .nosotros .reviews-title {
    color: #FFFFFF;
    font-family: "Roboto Slab";
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 0;
    position: relative;
    top: 50px;
  }
  .nosotros .reviews-title h2 {
    font-size: 1.3em;
  }
  .nosotros .review {
    display: none;
  }
  .nosotros .review-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 380px;
    background-color: #fd982d;
  }
}

#cursos {
  max-width: 70%;
  padding: 100px 0;
}
@media screen and (max-width: 576px) {
  #cursos {
    max-width: 85%;
  }
}
#cursos .cursos-top {
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#cursos .cursos-top .cursos-title {
  color: #AD8FF5;
  font-size: 4.8em;
  font-family: "Roboto Slab";
  margin-bottom: 20px;
}
@media screen and (max-width: 576px) {
  #cursos .cursos-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: auto;
  }
  #cursos .cursos-top .cursos-title {
    font-size: 2.8em;
  }
  #cursos .cursos-top .c1-block, #cursos .cursos-top .c2-block {
    padding-bottom: 30px;
  }
}
#cursos .cursos-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#cursos .cursos-content-info, #cursos .cursos-content-info strong {
  font-size: 1.3em;
  font-family: "Roboto";
  color: #3F4650;
  font-weight: 400;
  line-height: 1.3em;
  list-style: disc;
  width: 80%;
}
#cursos .cursos-content-info strong {
  font-weight: bold;
  font-size: 1.2em;
}
@media screen and (max-width: 576px) {
  #cursos .cursos-content-info, #cursos .cursos-content-info strong {
    width: 95%;
    padding: 0;
    font-size: 1em;
  }
}
#cursos .cursos-content .cursos-list {
  list-style-type: disc;
}
#cursos .cursos-content .cursos-list-item {
  font-size: 1.3em;
  font-family: "Roboto";
  color: #3F4650;
  font-weight: 400;
  line-height: 1.3em;
  margin-top: 0;
  line-height: 25px;
}
@media screen and (max-width: 576px) {
  #cursos .cursos-content .cursos-list-item {
    width: 95%;
    padding: 0;
    font-size: 1em;
  }
}
#cursos .cursos-content .first-block, #cursos .cursos-content .second-block, #cursos .cursos-content .third-block {
  padding: 40px 0;
  border-bottom: 1px dashed black;
}
#cursos .cursos-content .first-block .cursos-content-info, #cursos .cursos-content .first-block .cursos-content-info strong, #cursos .cursos-content-info .cursos-content .first-block strong, #cursos .cursos-content .second-block .cursos-content-info, #cursos .cursos-content .second-block .cursos-content-info strong, #cursos .cursos-content-info .cursos-content .second-block strong, #cursos .cursos-content .third-block .cursos-content-info, #cursos .cursos-content .third-block .cursos-content-info strong, #cursos .cursos-content-info .cursos-content .third-block strong {
  width: 100%;
}
@media screen and (max-width: 576px) {
  #cursos .cursos-content .first-block, #cursos .cursos-content .second-block, #cursos .cursos-content .third-block {
    padding-bottom: 20px;
  }
}
#cursos .cursos-content .cursos-cuadros {
  -ms-grid-row-align: center;
      align-self: center;
  margin: 90px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 38px 30% 38px 30%;
  grid-template-columns: 30% 30% 30%;
  grid-gap: 38px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 576px) {
  #cursos .cursos-content .cursos-cuadros {
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
    grid-gap: 23px;
    margin: 40px 0;
  }
}
#cursos .curso-completo h3 {
  margin-top: 40px;
  padding-bottom: 30px;
  color: #3F4650;
  font-family: "Roboto Condensed";
  font-weight: 700;
  text-align: center;
  border-bottom: 1px dashed black;
}
#cursos .curso-completo .precios {
  margin: 45px 0 65px 0;
}
#cursos .curso-completo-block {
  padding-top: 30px;
}
@media screen and (max-width: 576px) {
  #cursos .curso-completo h3 {
    margin-top: 0;
  }
}
#cursos .medios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
#cursos .medios-title {
  color: #3F4650;
  font-weight: 700;
  font-size: 1.4em;
  width: 100%;
  text-align: center;
  border-bottom: 2px solid black;
  padding-bottom: 20px;
}
#cursos .medios-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 60%;
  height: 200px;
}
@media screen and (max-width: 576px) {
  #cursos .medios-title {
    border-bottom: 1px dashed black;
  }
  #cursos .medios-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
    height: 150px;
  }
  #cursos .medios-logo img {
    -webkit-transform: scale(0.65);
            transform: scale(0.65);
  }
}
#cursos .datos-banking {
  width: 100%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 2px dashed black;
}
#cursos .datos-banking .datos-contenedor {
  width: 45%;
  text-align: right;
}
#cursos .datos-banking .datos-contenedor .datos-title {
  padding-right: 40px;
  font-weight: 700;
  font-size: 1em;
  font-family: "Roboto";
  color: #3F4650;
}
#cursos .datos-banking .cbu {
  width: 65%;
  border-left: 2px dashed black;
  height: 60%;
  font-family: "Roboto";
  color: #3F4650;
  padding-left: 40px;
}
@media screen and (max-width: 576px) {
  #cursos .datos-banking {
    height: auto;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 40px 0;
  }
}
#cursos .datos-banking .datos-contenedor {
  text-align: left;
}
#cursos .datos-banking .datos-title {
  font-size: 0.8em;
}
#cursos .datos-banking .cbu {
  border-left: 1px dashed black;
}
#cursos .datos-banking .cbu p {
  font-size: 0.9em;
}
#cursos .datos-banking .cbu p strong {
  font-size: 1em;
}

.clases {
  min-height: 100vh;
  padding-top: 150px;
  max-width: 70%;
}
.clases-title {
  color: #FEC92E;
  font-size: 4.8em;
  font-family: "Roboto Slab";
}
.clases .p-type-a .class-info {
  font-size: 1.3em;
  font-family: "Roboto";
  color: #3F4650;
  font-weight: 400;
  line-height: 1.3em;
  line-height: 1.3em;
}
.clases .p-type-a .class-info strong {
  font-size: 1em;
}
.clases .p-type-b {
  padding-top: 15px;
}
.clases .p-type-b .class-info {
  font-size: 1.3em;
  font-family: "Roboto";
  color: #3F4650;
  font-weight: 400;
  line-height: 1.3em;
  line-height: 1.3em;
}
.clases .p-type-b .class-info strong {
  font-size: 1em;
}
@media screen and (max-width: 576px) {
  .clases {
    min-height: auto;
    max-width: 100%;
    padding-top: 90px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .clases-title {
    font-size: 2.9em;
  }
  .clases .inner-clases {
    width: 85%;
  }
}

.apuntes {
  max-width: 70%;
  padding-top: 150px;
  min-height: 100vh;
}
.apuntes .apuntes-title {
  color: #8ADFDF;
  font-size: 4.8em;
  font-family: "Roboto Slab";
}
.apuntes .apuntes-info {
  font-size: 1.3em;
  font-family: "Roboto";
  color: #3F4650;
  font-weight: 400;
  line-height: 1.3em;
  margin-top: 20px;
}
.apuntes .apuntes-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}
.apuntes .apuntes-all .box-apuntes-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 20%;
}
.apuntes .apuntes-all .lista-apuntes {
  line-height: 30px;
}
.apuntes .apuntes-all .lista-apuntes ul {
  list-style-type: disc;
}
.apuntes .apuntes-all .lista-apuntes ul li {
  font-size: 1.3em;
  font-family: "Roboto";
  color: #3F4650;
  font-weight: 400;
  line-height: 1.3em;
}
.apuntes .apuntes-all .lista-apuntes ul li strong {
  font-size: 1em;
}
.apuntes .apuntes-all .lista-apuntes ul img {
  margin: 0 7px;
}
.apuntes .apuntes-all .lista-apuntes ul .ap-dl {
  font-size: 1.3em;
  font-family: "Roboto";
  color: #3F4650;
  font-weight: 400;
  line-height: 1.3em;
  font-size: 1em;
}
.apuntes .apuntes-all .lista-apuntes ul .ap-dl:hover {
  opacity: 0.7;
}
@media screen and (max-width: 576px) {
  .apuntes {
    min-width: 100%;
    padding-top: 90px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-height: auto;
  }
  .apuntes .apuntes-title {
    font-size: 2.9em;
  }
  .apuntes .inner-apuntes {
    width: 85%;
  }
  .apuntes .apuntes-all {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .apuntes .apuntes-all .box-apuntes-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    margin-bottom: 20px;
  }
  .apuntes .ap-dl, .apuntes .apunte-item {
    font-size: 18px !important;
  }
}

.contacto {
  max-width: 70%;
  padding-top: 150px;
  min-height: 95vh;
}
.contacto .contacto-title {
  color: #FD982D;
  font-size: 4.8em;
  font-family: "Roboto Slab";
}
.contacto .contacto-info {
  font-size: 1.3em;
  font-family: "Roboto";
  color: #3F4650;
  font-weight: 400;
  line-height: 1.3em;
  margin-top: 20px;
}
.contacto .mapa {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
}
.contacto .mapa iframe {
  width: 100%;
  height: 250px;
}
.contacto .map-footer {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contacto .map-footer-text {
  width: 50%;
}
.contacto .map-footer-text p {
  font-size: 1.3em;
  font-family: "Roboto";
  color: #3F4650;
  font-weight: 400;
  line-height: 1.3em;
  font-size: 1em;
}
.contacto .redes-icons {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.contacto .link-rs .rs-icon-c {
  display: none;
}
.contacto .link-rs:hover .rs-icon, .contacto .link-rs:hover .rs-icon-c {
  display: none;
}
.contacto .link-rs:hover .rs-icon-c {
  display: block;
}
.contacto .rs-icon, .contacto .rs-icon-c {
  margin: 0 2.5px;
  width: 30px;
}
@media screen and (max-width: 576px) {
  .contacto {
    max-width: 100%;
    min-height: 95vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 90px;
  }
  .contacto .inner-contacto {
    width: 85%;
  }
  .contacto .contacto-title {
    font-size: 2.9em;
  }
  .contacto .mapa {
    height: 210px;
    margin-top: 20px;
  }
  .contacto .map-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 60px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contacto .map-footer-text {
    width: 100%;
    text-align: center;
  }
  .contacto .redes-icons {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}