@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Teko&display=swap");
* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 14px;
}

body {
  position: relative;
}

ul {
  list-style-type: none;
  margin: 0;
}

a {
  text-decoration: none;
}

hr {
  background-color: white;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 119px;
  position: fixed;
  z-index: 1;
}
header .logo {
  width: 25vw;
}
header .logo img {
  width: 60px;
  position: relative;
  left: 25%;
}
header .nav-container {
  width: 75vw;
}
header .nav-container .navigation-bar {
  width: 66%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
header .nav-container .navigation-bar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-family: "Roboto Condensed";
  font-weight: bold;
  padding-left: 0;
  width: 620px;
}
header .nav-container .navigation-bar ul .link {
  color: #F2F2F2;
  font-size: 1em;
}
header .nav-container .navigation-bar ul .link-1:hover {
  color: #FD982D;
}
header .nav-container .navigation-bar ul .link-2:hover {
  color: #AD8FF5;
}
header .nav-container .navigation-bar ul .link-2-a {
  color: #AD8FF5;
}
header .nav-container .navigation-bar ul .link-3:hover {
  color: #FEC92E;
}
header .nav-container .navigation-bar ul .link-4:hover {
  color: #8ADFDF;
}
header .nav-container .navigation-bar ul .link-5:hover {
  color: #FD5A33;
}

.header-fixed {
  -webkit-animation: BGchange 0.8s ease;
          animation: BGchange 0.8s ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.header-fixed-c {
  background-color: black;
}

.header-init {
  -webkit-animation: BGreset 0.1s ease;
          animation: BGreset 0.1s ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes BGchange {
  100% {
    background-color: black;
    padding: 8px 0;
  }
}

@keyframes BGchange {
  100% {
    background-color: black;
    padding: 8px 0;
  }
}
@-webkit-keyframes BGreset {
  100% {
    background-color: none;
  }
}
@keyframes BGreset {
  100% {
    background-color: none;
  }
}
footer {
  height: 35px;
  border-top: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .footer-info {
  width: 70%;
}
footer .footer-info p {
  font-family: "Roboto";
  font-size: 0.7em;
  margin: 0;
  color: #3F4650;
  padding-left: 28px;
}
footer .footer-info p strong {
  font-size: 1em;
}
footer .ft-cr {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
footer .ft-cr p {
  font-family: "Roboto";
  font-size: 0.7em;
  margin: 0;
  color: #3F4650;
  padding-right: 28px;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: solid 2px black;
  -webkit-box-shadow: 0 0 1px #fff inset;
          box-shadow: 0 0 1px #fff inset;
  height: 48px;
  border-radius: 10px;
}
.btn a {
  color: black;
  font-size: 1.2em;
  font-weight: 700;
  padding: 0 15px;
  font-family: "Roboto Condensed";
}
.btn-cursos {
  background-color: #AD8FF5;
}
.btn-cursos:hover {
  background-color: #bba2f7;
}
.btn-apuntes {
  margin-left: 16px;
  background-color: #8ADFDF;
}
.btn-apuntes:hover {
  background-color: #9ae3e3;
}

.slide-btn {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #FEC92E;
  padding: 0;
}

.active {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #FEC92E;
  border: 1px solid black;
}

.wa-button {
  width: 195px;
  height: 48px;
  border-radius: 8px;
  background-color: #23ca62;
  position: fixed;
  bottom: 28px;
  right: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: white;
  font-family: "Roboto";
  font-weight: bold;
  padding: 0 16px;
}
.wa-button p {
  margin: 0;
}
.wa-button:hover {
  color: white;
  background-color: #2dda6e;
}

.box-apuntes {
  width: 90%;
  height: 45px;
  border: 2px solid black;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.box-apuntes h4 {
  margin: 3px 0 0 0;
  font-size: 1.4em;
  font-family: "Teko";
}

.review-box {
  width: 220px;
  height: 220px;
  border-radius: 10px;
  border: 2px solid #3F4650;
}

.cursos-box, .cursos-box-6, .cursos-box-5, .cursos-box-4, .cursos-box-3, .cursos-box-2, .cursos-box-1 {
  width: 238px;
  height: 198px;
  border-radius: 10px;
  border: 3px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cursos-box .inner-box, .cursos-box-6 .inner-box, .cursos-box-5 .inner-box, .cursos-box-4 .inner-box, .cursos-box-3 .inner-box, .cursos-box-2 .inner-box, .cursos-box-1 .inner-box {
  width: 70%;
  height: 70%;
}
.cursos-box .inner-box h3, .cursos-box-6 .inner-box h3, .cursos-box-5 .inner-box h3, .cursos-box-4 .inner-box h3, .cursos-box-3 .inner-box h3, .cursos-box-2 .inner-box h3, .cursos-box-1 .inner-box h3 {
  font-size: 1.8em;
  color: black;
  font-weight: 700;
  font-family: "Roboto Condensed";
}
.cursos-box .inner-box .inner-list, .cursos-box-6 .inner-box .inner-list, .cursos-box-5 .inner-box .inner-list, .cursos-box-4 .inner-box .inner-list, .cursos-box-3 .inner-box .inner-list, .cursos-box-2 .inner-box .inner-list, .cursos-box-1 .inner-box .inner-list {
  padding-left: 0;
}
.cursos-box .inner-box .inner-list-item, .cursos-box-6 .inner-box .inner-list-item, .cursos-box-5 .inner-box .inner-list-item, .cursos-box-4 .inner-box .inner-list-item, .cursos-box-3 .inner-box .inner-list-item, .cursos-box-2 .inner-box .inner-list-item, .cursos-box-1 .inner-box .inner-list-item {
  list-style: none;
  color: black;
  padding: 0;
}
.cursos-box-1 {
  background-color: #FD5A33;
}
.cursos-box-2 {
  background-color: #FEC92E;
}
.cursos-box-3 {
  background-color: #FD982D;
}
.cursos-box-4 {
  background-color: #AD8FF5;
}
.cursos-box-5 {
  background-color: #8ADFDF;
}
.cursos-box-6 {
  background-color: #FD5A33;
}

.consultas-box {
  width: 100%;
  height: 70px;
  border: 2px solid black;
  background-color: #AD8FF5;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 35px 0 35px 0;
  text-align: center;
  color: #3F4650;
  line-height: 1.4em;
}
.consultas-box-text {
  font-size: 1.3em;
  margin-bottom: 0;
  color: white;
}
.consultas-box-text i {
  font-size: 1em;
  font-weight: 700;
}

.precios-box {
  width: 100%;
  height: 100px;
  border: 2px solid #3F4650;
  background-color: #FFFFFF;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0 10px 0;
  text-align: center;
  color: #3F4650;
  line-height: 1.4em;
}
.precios-box .precios-title {
  font-weight: 700;
  font-size: 1.3em;
  width: 60%;
}
.precios-box .precios-title span {
  font-weight: 300;
  font-size: 1.3em;
}

main {
  height: 552px;
  background-image: url("../images/fondo-principal.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
main .slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  position: relative;
  top: 30%;
  font-family: "Roboto Slab";
  width: 100vw;
}
main .slide .slides {
  height: 150px;
  -webkit-animation: slidesAnimation 5.3s linear;
          animation: slidesAnimation 5.3s linear;
  position: relative;
  right: 0;
}
main .slide-title {
  line-height: 1em;
}
main .slide-title h1 {
  color: #FEC92E;
  font-size: 4em;
}
main .slide-title p {
  color: #FFFFFF;
  font-size: 4em;
}
main .slide h3 {
  color: #FFFFFF;
  font-size: 1.5em;
  margin-top: 1.3em;
}
main .slide .selectores-container {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
main .slide .selectores-container .selectores {
  padding-top: 30px;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .botones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  top: 50%;
}

@-webkit-keyframes slidesAnimation {
  0% {
    opacity: 0;
    right: -70vw;
  }
  5% {
    opacity: 0.5;
    right: -35vw;
  }
  10% {
    opacity: 1;
    right: 0vw;
  }
  90% {
    opacity: 1;
    right: 0vw;
  }
  95% {
    opacity: 0.5;
    right: 35vw;
  }
  100% {
    opacity: 0;
    right: 70vw;
  }
}

@keyframes slidesAnimation {
  0% {
    opacity: 0;
    right: -70vw;
  }
  5% {
    opacity: 0.5;
    right: -35vw;
  }
  10% {
    opacity: 1;
    right: 0vw;
  }
  90% {
    opacity: 1;
    right: 0vw;
  }
  95% {
    opacity: 0.5;
    right: 35vw;
  }
  100% {
    opacity: 0;
    right: 70vw;
  }
}
.nosotros {
  background-image: url("../images/bg-nosotros.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 100vh;
}
.nosotros .nosotros-top {
  width: 70%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.nosotros .nosotros-top-title {
  color: #FD982D;
  font-size: 4.8em;
  font-family: "Roboto Slab";
}
.nosotros .nosotros-top-info {
  font-size: 1.3em;
  font-family: "Roboto";
  color: #3F4650;
  font-weight: 400;
  line-height: 1.3em;
}
.nosotros .reviews-title {
  color: #A6A6A5;
  font-family: "Roboto Slab";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1.2em;
}
.nosotros .review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 60px 10%;
}

#cursos {
  max-width: 70%;
  padding: 100px 0;
}
#cursos .cursos-top {
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#cursos .cursos-top .cursos-title {
  color: #AD8FF5;
  font-size: 4.8em;
  font-family: "Roboto Slab";
  margin-bottom: 20px;
}
#cursos .cursos-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#cursos .cursos-content-info, #cursos .cursos-content-info strong {
  font-size: 1.3em;
  font-family: "Roboto";
  color: #3F4650;
  font-weight: 400;
  line-height: 1.3em;
  list-style: disc;
  width: 80%;
}
#cursos .cursos-content-info strong {
  font-weight: bold;
  font-size: 1em;
}
#cursos .cursos-content .cursos-list {
  list-style-type: disc;
}
#cursos .cursos-content .cursos-list-item {
  font-size: 1.3em;
  font-family: "Roboto";
  color: #3F4650;
  font-weight: 400;
  line-height: 1.3em;
  margin-top: 0;
  line-height: 25px;
}
#cursos .cursos-content .first-block {
  padding-bottom: 40px;
  border-bottom: 1px dashed black;
}
#cursos .cursos-content .second-block {
  padding: 40px 0;
  border-bottom: 1px dashed black;
}
#cursos .cursos-content .second-block .cursos-content-info, #cursos .cursos-content .second-block .cursos-content-info strong, #cursos .cursos-content-info .cursos-content .second-block strong {
  width: 100%;
}
#cursos .cursos-content .third-block {
  padding: 40px 0;
  border-bottom: 1px dashed black;
}
#cursos .cursos-content .third-block .cursos-content-info, #cursos .cursos-content .third-block .cursos-content-info strong, #cursos .cursos-content-info .cursos-content .third-block strong {
  width: 100%;
}
#cursos .cursos-content .cursos-cuadros {
  -ms-grid-row-align: center;
      align-self: center;
  margin: 90px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 38px 30% 38px 30%;
  grid-template-columns: 30% 30% 30%;
  grid-gap: 38px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#cursos .curso-completo h3 {
  margin-top: 40px;
  padding-bottom: 30px;
  color: #3F4650;
  font-family: "Roboto Condensed";
  font-weight: 700;
  text-align: center;
  border-bottom: 1px dashed black;
}
#cursos .curso-completo .precios {
  margin: 45px 0 65px 0;
}
#cursos .curso-completo-block {
  padding-top: 30px;
}
#cursos .medios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
#cursos .medios-title {
  color: #3F4650;
  font-weight: 700;
  font-size: 1.4em;
  width: 100%;
  text-align: center;
  border-bottom: 2px solid black;
  padding-bottom: 20px;
}
#cursos .medios-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 60%;
  height: 200px;
}
#cursos .datos-banking {
  width: 100%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 2px dashed black;
}
#cursos .datos-banking .datos-contenedor {
  width: 45%;
  text-align: right;
}
#cursos .datos-banking .datos-contenedor .datos-title {
  padding-right: 40px;
  font-weight: 700;
  font-size: 1em;
  font-family: "Roboto";
  color: #3F4650;
}
#cursos .datos-banking .cbu {
  width: 65%;
  border-left: 2px dashed black;
  height: 60%;
  font-family: "Roboto";
  color: #3F4650;
  padding-left: 40px;
}

.clases {
  min-height: 100vh;
  padding-top: 8%;
  max-width: 70%;
}
.clases-title {
  color: #FEC92E;
  font-size: 4.8em;
  font-family: "Roboto Slab";
}
.clases .p-type-a .class-info {
  font-size: 1.3em;
  font-family: "Roboto";
  color: #3F4650;
  font-weight: 400;
  line-height: 1.3em;
  line-height: 1.3em;
}
.clases .p-type-a .class-info strong {
  font-size: 1em;
}
.clases .p-type-b {
  padding-top: 15px;
}
.clases .p-type-b .class-info {
  font-size: 1.3em;
  font-family: "Roboto";
  color: #3F4650;
  font-weight: 400;
  line-height: 1.3em;
  line-height: 1.3em;
}
.clases .p-type-b .class-info strong {
  font-size: 1em;
}

.apuntes {
  max-width: 70%;
  padding-top: 8%;
  min-height: 100vh;
}
.apuntes .apuntes-title {
  color: #8ADFDF;
  font-size: 4.8em;
  font-family: "Roboto Slab";
}
.apuntes .apuntes-info {
  font-size: 1.3em;
  font-family: "Roboto";
  color: #3F4650;
  font-weight: 400;
  line-height: 1.3em;
  margin-top: 20px;
}
.apuntes .apuntes-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}
.apuntes .apuntes-all .box-apuntes-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 20%;
}
.apuntes .apuntes-all .lista-apuntes {
  line-height: 30px;
}
.apuntes .apuntes-all .lista-apuntes ul {
  list-style-type: disc;
}
.apuntes .apuntes-all .lista-apuntes ul li {
  font-size: 1.3em;
  font-family: "Roboto";
  color: #3F4650;
  font-weight: 400;
  line-height: 1.3em;
}
.apuntes .apuntes-all .lista-apuntes ul li strong {
  font-size: 1em;
}
.apuntes .apuntes-all .lista-apuntes ul img {
  margin: 0 7px;
}
.apuntes .apuntes-all .lista-apuntes ul a {
  font-size: 1.3em;
  font-family: "Roboto";
  color: #3F4650;
  font-weight: 400;
  line-height: 1.3em;
  font-size: 1em;
}
.apuntes .apuntes-all .lista-apuntes ul a:hover {
  opacity: 0.7;
}

.contacto {
  max-width: 70%;
  padding-top: 8%;
  min-height: 95vh;
}
.contacto .contacto-title {
  color: #FD982D;
  font-size: 4.8em;
  font-family: "Roboto Slab";
}
.contacto .contacto-info {
  font-size: 1.3em;
  font-family: "Roboto";
  color: #3F4650;
  font-weight: 400;
  line-height: 1.3em;
  margin-top: 20px;
}
.contacto .mapa {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
}
.contacto .mapa iframe {
  width: 100%;
  height: 250px;
}
.contacto .map-footer {
  margin-top: 20px;
}
.contacto .map-footer-text p {
  font-size: 1.3em;
  font-family: "Roboto";
  color: #3F4650;
  font-weight: 400;
  line-height: 1.3em;
  font-size: 1em;
}
.contacto .link-rs .rs-icon-c {
  display: none;
}
.contacto .link-rs:hover .rs-icon, .contacto .link-rs:hover .rs-icon-c {
  display: none;
}
.contacto .link-rs:hover .rs-icon-c {
  display: block;
}
.contacto .rs-icon, .contacto .rs-icon-c {
  margin: 0 2.5px;
  width: 30px;
}