@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 14px;
}

ul {
  list-style-type: none;
  margin: 0;
}

a {
  text-decoration: none;
}

hr {
  background-color: white;
}

header {
  display: flex;
  align-items: center;
  height: 100px;
  position: fixed;
  z-index: 1;
}
header .logo {
  width: 25vw;
}
header .logo img {
  width: 14%;
  position: relative;
  left: 25%;
}
header .nav-container {
  width: 75vw;
}
header .nav-container .navigation-bar {
  width: 66%;
  display: flex;
  justify-content: center;
}
header .nav-container .navigation-bar ul {
  display: flex;
  justify-content: space-around;
  font-family: "Roboto Condensed";
  font-weight: bold;
  padding-left: 0;
  width: 620px;
}
header .nav-container .navigation-bar ul .link {
  color: #F2F2F2;
  font-size: 1em;
}
header .nav-container .navigation-bar ul .link-1:hover {
  color: #FD982D;
}
header .nav-container .navigation-bar ul .link-2:hover {
  color: #AD8FF5;
}
header .nav-container .navigation-bar ul .link-3:hover {
  color: #FEC92E;
}
header .nav-container .navigation-bar ul .link-4:hover {
  color: #8ADFDF;
}
header .nav-container .navigation-bar ul .link-5:hover {
  color: #FD5A33;
}

.header-fixed {
  animation: BGchange 0.8s ease;
  animation-fill-mode: forwards;
}

.header-init {
  animation: BGreset 0.1s ease;
  animation-fill-mode: forwards;
}

@keyframes BGchange {
  100% {
    background-color: black;
    padding: 20px 0;
  }
}
@keyframes BGreset {
  100% {
    background-color: none;
    padding-top: 40px;
  }
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 2px black;
  box-shadow: 0 0 1px #fff inset;
  height: 48px;
  border-radius: 10px;
}
.btn a {
  color: black;
  font-size: 1.2em;
  font-weight: 700;
  padding: 0 15px;
  font-family: "Roboto Condensed";
}
.btn-cursos {
  background-color: #AD8FF5;
}
.btn-apuntes {
  margin-left: 16px;
  background-color: #8ADFDF;
}

.wa-button {
  width: 195px;
  height: 48px;
  border-radius: 8px;
  background-color: #25D366;
  position: fixed;
  bottom: 28px;
  right: 21px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  font-family: "Roboto";
  font-weight: bold;
  padding: 0 16px;
}
.wa-button p {
  margin: 0;
}
.wa-button:hover {
  color: white;
}

.review-box {
  width: 220px;
  height: 220px;
  border-radius: 10px;
  border: 2px solid #3F4650;
}

.cursos-box, .cursos-box-6, .cursos-box-5, .cursos-box-4, .cursos-box-3, .cursos-box-2, .cursos-box-1 {
  width: 238px;
  height: 198px;
  border-radius: 10px;
  border: 3px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cursos-box .inner-box, .cursos-box-6 .inner-box, .cursos-box-5 .inner-box, .cursos-box-4 .inner-box, .cursos-box-3 .inner-box, .cursos-box-2 .inner-box, .cursos-box-1 .inner-box {
  width: 70%;
  height: 70%;
}
.cursos-box .inner-box h3, .cursos-box-6 .inner-box h3, .cursos-box-5 .inner-box h3, .cursos-box-4 .inner-box h3, .cursos-box-3 .inner-box h3, .cursos-box-2 .inner-box h3, .cursos-box-1 .inner-box h3 {
  font-size: 1.8em;
  color: black;
  font-weight: 700;
}
.cursos-box .inner-box .inner-list, .cursos-box-6 .inner-box .inner-list, .cursos-box-5 .inner-box .inner-list, .cursos-box-4 .inner-box .inner-list, .cursos-box-3 .inner-box .inner-list, .cursos-box-2 .inner-box .inner-list, .cursos-box-1 .inner-box .inner-list {
  padding-left: 0;
}
.cursos-box .inner-box .inner-list-item, .cursos-box-6 .inner-box .inner-list-item, .cursos-box-5 .inner-box .inner-list-item, .cursos-box-4 .inner-box .inner-list-item, .cursos-box-3 .inner-box .inner-list-item, .cursos-box-2 .inner-box .inner-list-item, .cursos-box-1 .inner-box .inner-list-item {
  list-style: none;
  color: black;
  padding: 0;
}
.cursos-box-1 {
  background-color: #FD5A33;
}
.cursos-box-2 {
  background-color: #FEC92E;
}
.cursos-box-3 {
  background-color: #FD982D;
}
.cursos-box-4 {
  background-color: #AD8FF5;
}
.cursos-box-5 {
  background-color: #8ADFDF;
}
.cursos-box-6 {
  background-color: #FD5A33;
}

.consultas-box {
  width: 100%;
  height: 70px;
  border: 2px solid black;
  background-color: #AD8FF5;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 35px 0 35px 0;
  text-align: center;
  color: #3F4650;
  line-height: 1.4em;
}
.consultas-box-text {
  font-size: 1.3em;
  margin-bottom: 0;
  color: white;
}
.consultas-box-text i {
  font-size: 1em;
  font-weight: 700;
}

.precios-box {
  width: 100%;
  height: 100px;
  border: 2px solid #3F4650;
  background-color: #FFFFFF;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0 10px 0;
  text-align: center;
  color: #3F4650;
  line-height: 1.4em;
}
.precios-box .precios-title {
  font-weight: 700;
  font-size: 1.3em;
  width: 60%;
}
.precios-box .precios-title span {
  font-weight: 300;
  font-size: 1.3em;
}

main {
  height: 100vh;
  background-image: url("../images/fondo-principal.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
main .slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  top: 40%;
  font-family: "Roboto Slab";
}
main .slide-title {
  line-height: 1em;
}
main .slide-title h1 {
  color: #FEC92E;
  font-size: 4em;
}
main .slide-title p {
  color: #FFFFFF;
  font-size: 4em;
}
main .slide h3 {
  color: #FFFFFF;
  font-size: 1.5em;
  margin-top: 1.3em;
}
main .botones {
  display: flex;
  justify-content: center;
  position: relative;
  top: 55vh;
}

.nosotros {
  height: 100vh;
  max-width: 70%;
  padding-top: 8%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.nosotros .nosotros-top-title {
  color: #FD982D;
  font-size: 4.8em;
  font-family: "Roboto Slab";
}
.nosotros .nosotros-top-info {
  font-size: 1.3em;
  font-family: "Roboto";
  color: #3F4650;
  font-weight: 400;
  line-height: 1.3em;
}
.nosotros .reviews-title {
  color: #A6A6A5;
  font-family: "Roboto Slab";
  display: flex;
  justify-content: center;
  margin-top: 1.2em;
}
.nosotros .review {
  display: flex;
  justify-content: space-around;
  padding: 0 10%;
}

#cursos {
  max-width: 70%;
  padding-top: 8%;
}
#cursos .cursos-title {
  color: #AD8FF5;
  font-size: 4.8em;
  font-family: "Roboto Slab";
}
#cursos .cursos-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#cursos .cursos-content-info, #cursos .cursos-content-info strong {
  font-size: 1.3em;
  font-family: "Roboto";
  color: #3F4650;
  font-weight: 400;
  line-height: 1.3em;
  list-style: disc;
}
#cursos .cursos-content-info strong {
  font-weight: bold;
  font-size: 1em;
}
#cursos .cursos-content .cursos-list {
  list-style-type: disc;
}
#cursos .cursos-content .cursos-list-item {
  font-size: 1.3em;
  font-family: "Roboto";
  color: #3F4650;
  font-weight: 400;
  line-height: 1.3em;
  margin-top: 0;
}
#cursos .cursos-content .cursos-cuadros {
  margin-top: 90px;
  margin-bottom: 90px;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-gap: 38px;
  align-items: center;
}
#cursos .cursos-content .curso-completo h3 {
  margin: 90px 0 20px 0;
  color: #3F4650;
  font-family: "Roboto Condensed";
  font-weight: 700;
}
#cursos .cursos-content .curso-completo .precios {
  margin: 45px 0 65px 0;
}
#cursos .cursos-content .medios {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
#cursos .cursos-content .medios-title {
  color: #3F4650;
  font-weight: 700;
  font-size: 1.4em;
  width: 100%;
  text-align: center;
  border-bottom: 2px solid black;
  padding-bottom: 20px;
}
#cursos .cursos-content .medios-logo {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 60%;
  height: 200px;
}
#cursos .cursos-content .datos-banking {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  border-top: 2px dashed black;
}
#cursos .cursos-content .datos-banking .datos-contenedor {
  width: 45%;
  text-align: right;
}
#cursos .cursos-content .datos-banking .datos-contenedor .datos-title {
  padding-right: 40px;
  font-weight: 700;
  font-size: 1em;
  font-family: "Roboto";
  color: #3F4650;
}
#cursos .cursos-content .datos-banking .cbu {
  width: 65%;
  border-left: 2px dashed black;
  height: 60%;
  font-family: "Roboto";
  color: #3F4650;
  padding-left: 40px;
}

.clases {
  height: 400px;
  background-image: url("../images/fondo-clases.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.clases .class-container {
  width: 70%;
  background: rgba(255, 255, 255, 0.95);
  height: 60%;
  text-align: center;
}
.clases .class-container .clases-title {
  color: #FEC92E;
  font-size: 4.8em;
  font-family: "Roboto Slab";
}
.clases .class-container .class-info {
  font-size: 1.3em;
  font-family: "Roboto";
  color: #3F4650;
  font-weight: 400;
  line-height: 1.3em;
  margin-top: 20px;
  padding: 0 10vw;
}

.apuntes {
  max-width: 70%;
  padding-top: 8%;
  height: 100vh;
}
.apuntes .apuntes-title {
  color: #8ADFDF;
  font-size: 4.8em;
  font-family: "Roboto Slab";
}
.apuntes .apuntes-info {
  font-size: 1.3em;
  font-family: "Roboto";
  color: #3F4650;
  font-weight: 400;
  line-height: 1.3em;
  margin-top: 20px;
}
.apuntes .apuntes-info strong {
  font-size: 1em;
}
.apuntes ul {
  list-style-type: disc;
}
.apuntes ul .apunte-item {
  font-size: 1em;
  font-weight: 400;
}

.contacto {
  max-width: 70%;
  padding-top: 8%;
  height: 100vh;
}
.contacto .contacto-title {
  color: #FD982D;
  font-size: 4.8em;
  font-family: "Roboto Slab";
}
.contacto .contacto-info {
  font-size: 1.3em;
  font-family: "Roboto";
  color: #3F4650;
  font-weight: 400;
  line-height: 1.3em;
  margin-top: 20px;
}
.contacto .mapa {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.contacto .mapa iframe {
  width: 100%;
  height: 250px;
}
.contacto .map-footer {
  margin-top: 20px;
}
.contacto .map-footer-text p {
  font-size: 1.3em;
  font-family: "Roboto";
  color: #3F4650;
  font-weight: 400;
  line-height: 1.3em;
  font-size: 1em;
}
.contacto .link-rs .rs-icon-c {
  display: none;
}
.contacto .link-rs:hover .rs-icon, .contacto .link-rs:hover .rs-icon-c {
  display: none;
}
.contacto .link-rs:hover .rs-icon-c {
  display: block;
}
.contacto .rs-icon, .contacto .rs-icon-c {
  margin: 0 2.5px;
  width: 30px;
}

/*# sourceMappingURL=style.css.map */
