@import 'utilities/variables';
@import 'utilities/lists';
@import 'base/fonts';
@import 'base/reset.scss';
@import 'utilities/mixin';
@import 'layout/header';
@import 'layout/footer';
@import 'components/buttons';
@import 'components/cuadros';
@import 'components/carousel';
@import 'views/main';
@import 'views/nosotros';
@import 'views/cursos';
@import 'views/clases';
@import 'views/apuntes';
@import 'views/contacto';