
// Colores de fuentes
$font-size:14px;
$colors:( 
    orange-1:#FD982D,
    purple-1:#AD8FF5,
    yellow-1:#FEC92E,
    blue-1:#8ADFDF,
    darker-orange:#FD5A33,
    dark-gray:#3F4650,
    light-gray:#A6A6A5,
    white:#FFFFFF,
    lighter-gray:#F2F2F2,
    black: black,
    green-w: #25D366,
);

$fonts:(
Roboto-condensed:'Roboto Condensed',
Roboto:'Roboto',
font-2:'Roboto Slab');