@mixin txt-content{
    
    font-size: 1.3em; 
    font-family: map-get($fonts, Roboto );
    color: map-get($colors,dark-gray);
    font-weight:400;   
    line-height: 1.3em;
   
}

@mixin cursos-block {
    padding: 40px 0 ;
    border-bottom:1px dashed black;
    .cursos-content-info{
        width: 100%;
        }  
}

@mixin txt-footer{
            font-family:map-get($fonts, Roboto );
            font-size: 0.7em;
            margin:0;
            color: map-get($colors, dark-gray );
}

@mixin txt-class{
    .class-info{
        @include txt-content;
        line-height: 1.3em;
        strong{
            font-size:1em;
               }
        
    }
}

@mixin whatsapp{

  width: 195px;
  height:48px;
  border-radius: 8px;
  background-color:darken(map-get($colors,green-w ),2%);
  position:fixed;
  bottom:28px;
  right:21px;
  border: none;
  z-index:1;
  a{
    display:flex;
    align-items: center ;
    justify-content: space-evenly;
    color:white;
    font-family: map-get($fonts, Roboto );
    font-weight:bold; 
    padding:0 6px;
    &:hover{
        color: darken(white,5%);
    }
        p{margin:0;}

    } 
}

@mixin media($media) {
  @if $media==sm {
    @media screen and (max-width: $breakpoint-sm) {
      @content;
    }
  }
  @else if $media==md {
    @media (min-width: $breakpoint-sm + 1) and (max-width: $breakpoint-lg - 1) {
      @content;
    }
  }
  @else if $media==lg {
    @media (min-width: $breakpoint-lg) {
      @content;
    }
  }
}