@mixin txt-content{
    
    font-size: 1.3em; 
    font-family: map-get($fonts, Roboto );
    color: map-get($colors,dark-gray);
    font-weight:400;   
    line-height: 1.3em;
   
}

@mixin cursos-block {
    padding: 40px 0 ;
    border-bottom:1px dashed black;
    .cursos-content-info{
        width: 100%;
        }  
}

@mixin txt-footer{
            font-family:map-get($fonts, Roboto );
            font-size: 0.7em;
            margin:0;
            color: map-get($colors, dark-gray );
}