footer{
    height: 35px;
    border-top: 1px solid black;
    display:flex;
    align-items: center;

    .footer-info{
        width:70%;
        display:flex;
        justify-content: flex-start;
        padding-left:28px;
       
        p{
            @include txt-footer;
       
            span{
                font-size:1em;
            }
            strong{
                font-size: 1em;
            }
        }
    }

    .ft-cr{
        width:30%;
        display:flex;
        justify-content: flex-end;
        p{   
         @include txt-footer;
         padding-right: 28px;
        }

    }

    @include media(sm){
        flex-direction:column;
        
        .footer-info{
            flex-direction:column;
            padding:0;
            align-items: center;
            width:100%;
            padding:11px 0  ;
            span{display:none;}
            
        }
        .ft-cr{
            width:100%;
            justify-content: center;
            align-items: center ;
          
            background-color: map-get($colors, dark-gray );
            
            p{color:white;
            padding:7px 0;
        font-size:7px;}
           
        }
    }
}