header{
    display: flex;
    align-items: baseline;
    padding-top: 40px;
    
    .logo{
        width: 25vw;
     
       
        img{
            width: 25%;
            position:relative;
            left: 25%;
        }
    }

    .navigation-bar{
       
        width: 50vw;
        display:flex;
        justify-content: center;
        
        ul{
            display:flex;
            justify-content: space-around;
            font-family:map-get($fonts, Roboto-condensed );
            font-weight: bold;
            padding-left:0;
            width:620px;
            
            .link{
                color:map-get($colors, lighter-gray );
                font-size:1em;
                &-1:hover{
                    color:map-get($colors, orange-1 );
                }
                &-2:hover{
                    color:map-get($colors, purple-1 );
                }
                &-3:hover{
                    color:map-get($colors, yellow-1 );
                }
                &-4:hover{
                    color:map-get($colors,blue-1 );
                }
                &-5:hover{
                    color:map-get($colors,darker-orange );
                }
            }
        }
    }
}