

.btn{

    display:flex;
    align-items: center;
    justify-content: center;
    border: solid 2px black;
    box-shadow: 0 0 1px #fff inset;
    height:48px;
    border-radius: 10px;
    a{
    color:black;
    font-size: 1.2em;
    font-weight:700;
    padding: 0 15px;
    font-family:map-get($fonts, Roboto-condensed)
    
    }
   
    &-cursos{
     
    background-color: map-get($colors, purple-1 );
    }
    &-apuntes{
        margin-left: 16px;
        background-color: map-get($colors, blue-1 ); 
    }
}

.wa-button{
    width: 195px;
    height:48px;
    border-radius: 8px;
    background-color:darken(map-get($colors,green-w ),2%);
    position:fixed;
    bottom:28px;
    right:21px;
    display:flex;
    align-items: center ;
    justify-content: space-around;
    color:white;
    font-family: map-get($fonts, Roboto );
    font-weight:bold; 
    padding:0 16px;
    
        p{margin:0;}
        &:hover{
            color:white;
            background-color:lighten(map-get($colors,green-w ),3%);
        }
}

.box-apuntes{
    width:90%;
    height:45px;
    border: 2px solid black;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    h4{
        margin: 3px 0 0 0;
        font-size:1.4em;
        font-family: map-get($fonts, font-3 );
    }
}