

.btn{

    display:flex;
    align-items: center;
    justify-content: center;
    border: solid 2px black;
    box-shadow: 0 0 1px #fff inset;
    height:48px;
    border-radius: 10px;
    a{
    color:black;
    font-size: 1.2em;
    font-weight:700;
    padding: 0 15px;
    font-family:map-get($fonts, Roboto-condensed);

    &:hover{
        color:lighten($color:black , $amount: 10%);
    }
     
    
    }
   
    &-cursos{
     
    background-color: map-get($colors, purple-1 );
        &:hover{
            background-color:lighten(map-get($colors, purple-1 ),4%);
            
        }
    }
    &-apuntes{
        margin-left: 16px;
        background-color: map-get($colors, blue-1 ); 
        &:hover{
            background-color:lighten(map-get($colors,blue-1 ),4%);
        }
    }
}

.carousel-indicators {
        display:flex;
        align-items: center;
        bottom:-30px;

        [data-bs-target]{
            width:10px;
            height:10px;
            border-radius:50%;
            background-color:transparent;
            border: 1px solid map-get($colors, yellow-1 );
            padding:0;
            margin: 0 7px;
        }
       
        .active{
            width:15px;
            height:15px;
            border-radius:50%;
            background-color:map-get($colors, yellow-1 );
            border: 1px solid black;
            opacity:0.8;    
           }
        
}


//BOTON WHATSAPP

.wa-button{
    width: 195px;
    height:48px;
    border-radius: 8px;
    background-color:darken(map-get($colors,green-w ),2%);
    position:fixed;
    bottom:28px;
    right:21px;
    border: none;
    z-index:1;

        @include media(sm){
            top:360px;
        }
            a{
                display:flex;
                align-items: center ;
                justify-content: space-evenly;
                color:white;
                font-family: map-get($fonts, Roboto );
                font-weight:bold; 
                padding:0 6px;
                &:hover{
                    color: darken(white,5%);
                }
                    p{margin:0;}
     
                } 
       
       
        &:hover{
         
            background-color:lighten(map-get($colors,green-w ),3%);
        }
        
}


