.apuntes{

    max-width: 70%;
    padding-top:$pt-sections; 
    min-height:100vh;

    .apuntes-title{
        color: map-get($colors,blue-1);
        font-size: 4.8em;
        font-family:map-get($fonts, font-2 );
    } 
    .apuntes-info{
        @include txt-content;
        margin-top: 20px;
      
    }

.apuntes-all{
   
    display:flex;
    margin-top:50px;
   
    .box-apuntes-container{
        display:flex;
        justify-content: flex-start;
        width:20%;
    }

    .lista-apuntes{
       line-height: 30px; 
       ul{
           list-style-type: disc;
            
                li{  
                @include txt-content;
                strong{
                    font-size: 1em;
                }
                }
                img{
                    margin: 0 7px;
                }
                .ap-dl{
                    @include txt-content;
                    font-size: 1em;
                    &:hover{
                        opacity: 0.7;
                    }
                }
    }
       
       
    }
   


}

@include media(sm){
    background-color: $bc-mobile;
    min-width:100%;
    padding-top:60px;
    display:flex;
    justify-content: center;
    min-height:auto;
    .apuntes-title{
      
        font-size: 2.9em;
        
    } 
    .inner-apuntes{
        width:85%;
    }
    .apuntes-all{
        flex-direction: column;
        .box-apuntes-container{
            display:flex;
            justify-content: center;
            width:100%;
            margin-bottom:20px;
        }
    }
    .ap-dl{font-size:20px !important;}
    .apunte-item{
        font-size:20px!important;
    }
    

}


  
}