.apuntes{

    max-width: 70%;
    padding-top:$pt-sections; 
    height:100vh;

    .apuntes-title{
        color: map-get($colors,blue-1);
        font-size: 4.8em;
        font-family:map-get($fonts, font-2 );
    } 
    .apuntes-info{
        @include txt-content;
        margin-top: 20px;
        strong{
            font-size: 1em;
        }
    }
    ul{
        list-style-type: disc;
        .apunte-item{
            font-size:1em;
            font-weight:400;
        }    }
}