.clases{
   
    height:100vh;
    padding-top:$pt-sections;
    max-width: 70%;
    
    &-title{
        color: map-get($colors,yellow-1);
        font-size: 4.8em;
        font-family:map-get($fonts, font-2 );
    } 

    .p-type-a{ 
        @include txt-class;
       }
    
    .p-type-b{
        padding-top:15px;
        @include txt-class; 
    }
  
}



