.clases{
   
    min-height:100vh;
    padding-top:$pt-sections;
    max-width: 70%;
    
    &-title{
        color: map-get($colors,yellow-1);
        font-size: 4.8em;
        font-family:map-get($fonts, font-2 );
    } 

    .p-type-a{ 
        @include txt-class;
       }
    
    .p-type-b{
        padding-top:15px;
        @include txt-class; 
    }

    @include media(sm){
        min-height:auto;
        max-width:100%;
        padding-top:60px;
        background-color: $bc-mobile;
        justify-content: flex-start;
        display:flex;
        flex-direction: column;
        align-items: center;
        &-title{
            font-size:2.9em;}
        .inner-clases{
        
        width:85%;
        }         
    }
}



