.contacto{

    max-width: 70%;
    padding-top:$pt-sections; 
    height:100vh;

    .contacto-title{
        color: map-get($colors,orange-1);
        font-size: 4.8em;
        font-family:map-get($fonts, font-2 );
    } 
    .contacto-info{
        @include txt-content;
        margin-top: 20px;
    }
    .mapa{
        width:100%;
        display:flex;
        justify-content: center;
        margin-top: 40px;
        iframe{
            width:100%;
            height: 250px;
        }

    }
    .map-footer{
        margin-top:20px;
        &-text p{
            @include txt-content;
            font-size: 1em;
        }
    }
    .link-rs{
        .rs-icon-c{
            display:none;
        }
        &:hover{
            .rs-icon{
                display:none;
            }
            .rs-icon-c{
                display:block;

            }
        }
    }

    .rs-icon{
        margin: 0 2.5px;
        width:30px;    
        &-c{
            @extend .rs-icon; 
        }        
    }

}