#cursos {

   
    max-width: 70%;
    padding:100px 0;
     

        .cursos-top{
            height: 400px;
            display:flex;
            align-items: center;
            .cursos-title{
                color: map-get($colors,purple-1);
                font-size: 4.8em;
                font-family:map-get($fonts, font-2 );
                margin-bottom:20px;
            } 
        }

        .cursos-content{
                
            display:flex;
            flex-direction: column;
           
            
            &-info{
                @include txt-content;
                list-style: disc;
                width:80%;
                strong{
                    @extend .cursos-content-info;
                    font-weight: bold;
                    font-size: 1em;
                }
            
                    }

            .cursos-list {
                list-style-type: disc;
            &-item{
                @include txt-content;
                margin-top:0;
                line-height:25px;
            }
            }
            .first-block{
                padding-bottom: 40px;
                border-bottom:1px dashed black;
            }
            .second-block{
                @include cursos-block;
            }
            
            .third-block{
            
                @include cursos-block;
            }

       

       
        .cursos-cuadros{
            align-self:center;
            margin: 90px 0;
            display:grid;
            grid-template-columns: 30% 30% 30%;
            grid-gap: 38px;
            align-items:center;
            
        }
    }
      .curso-completo{
          
          h3{
             margin-top: 40px;
             padding-bottom:30px;
             color: map-get($colors, dark-gray ) ;
             font-family: map-get($fonts, Roboto-condensed );
             font-weight: 700;
             text-align: center;
             border-bottom: 1px dashed black;
          }
          .precios{
              margin: 45px 0 65px 0;
          }
          &-block{
              padding-top:30px;
          }
      }  

      .medios{
          display:flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          

          &-title{
              font-family: map-get($fonts, Roboto-Slab );
              color: map-get($colors, dark-gray);
              font-weight:700;
              font-size: 1.4em;
              width: 100%;
             text-align: center;
             border-bottom: 2px solid black;
             padding-bottom:20px;
          }
          


          
          &-logo{
                display:flex;
                align-items: center;
                justify-content: space-around;
                width:60%;
                height:200px;
              

          }

          
          
          
      }
      .datos-banking{
        width:100%;
        height: 200px;
        display: flex;
        align-items: center;      
        border-top: 2px dashed black;

          .datos-contenedor{
             width:45%;
             text-align:right;
           
             .datos-title{
                padding-right:40px;
                font-weight:700;
                font-size:1em;
                font-family:map-get($fonts, Roboto );
                color: map-get($colors, dark-gray);
            }
            
          }
          .cbu{
            width:65%;
            border-left: 2px dashed black;
            height: 60%;
            font-family:map-get($fonts, Roboto );
            color: map-get($colors, dark-gray);
            padding-left: 40px;
        }

      }

   
      
    
}