#cursos {

   
    max-width: 70%;
    padding:100px 0;

    @include media(sm){
        max-width:85%;
    }
    

        .cursos-top{
            height: 400px;
            display:flex;
            align-items: center;
            .cursos-title{
                color: map-get($colors,purple-1);
                font-size: 4.8em;
                font-family:map-get($fonts, font-2 );
                margin-bottom:20px;
            } 
            @include media(sm){
                flex-direction:column;
                justify-content: space-between;
                height: auto;
                .cursos-title{
                    font-size:2.8em;

                }
                .c1-block, .c2-block{
                    padding-bottom: 30px;

                }
                
            
             
            }
        }

        .cursos-content{
                
            display:flex;
            flex-direction: column;
           
           
            
            &-info{
                @include txt-content;
                list-style: disc;
                width:80%;
                strong{
                    @extend .cursos-content-info;
                    font-weight: bold;
                    font-size: 1.2em;
                }

                @include media(sm){
                    width:95%;
                    padding:0;
                    font-size:1em;
                   
                }
            
                    }

            .cursos-list {
                list-style-type: disc;
            &-item{
                @include txt-content;
                margin-top:0;
                line-height:25px;
                @include media(sm){
                    width:95%;
                    padding:0;
                    font-size:1em;
                }
            
            }
            }
            
            .first-block,.second-block,.third-block{
                @include cursos-block;
                @include media(sm){
                    padding-bottom:20px;
                }
            }
            
        
       

       
        .cursos-cuadros{
            align-self:center;
            margin: 90px 0;
            display:grid;
            grid-template-columns: 30% 30% 30%;
            grid-gap: 38px;
            align-items:center;
            
            @include media(sm){
                grid-template-columns: 100%;
            grid-gap:23px;
        margin:40px 0;}
        }
    }
      .curso-completo{
          
          h3{
             margin-top: 40px;
             padding-bottom:30px;
             color: map-get($colors, dark-gray ) ;
             font-family: map-get($fonts, Roboto-condensed );
             font-weight: 700;
             text-align: center;
             border-bottom: 1px dashed black;
          }
          .precios{
              margin: 45px 0 65px 0;
          }
          &-block{
              padding-top:30px;
          }

          @include media(sm)
          {
            h3{
                margin-top:0;
            }

          }
      }  

      .medios{
          display:flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          

          &-title{
              font-family: map-get($fonts, Roboto-condensed );
              color: map-get($colors, dark-gray);
              font-weight:700;
              font-size: 1.5em;
              width: 100%;
             text-align: center;
             border-bottom: 2px solid black;
             padding-bottom:20px;
           
          }
         
        
          &-logo{
                display:flex;
                align-items: center;
                justify-content: space-around;
                width:60%;
                height:200px;
              

          }

          @include media(sm){

                &-title{
                    border-bottom: 1px dashed black;
                }
                &-logo{
                    display:flex;
                    align-items: center;
                    justify-content: space-around;
                    width:100%;
                    height:150px;
                    img{
                       transform:scale(0.65);
                        
                    }
                  
    
              }
          }
          
          
          
      }
      .datos-banking{
        width:100%;
        height: 200px;
        display: flex;
        align-items: center;      
        border-top: 2px dashed black;

          .datos-contenedor{
             width:45%;
             text-align:right;
           
             .datos-title{
                padding-right:40px;
                font-weight:700;
                font-size:1em;
                font-family:map-get($fonts, Roboto );
                color: map-get($colors, dark-gray);
            }
            
          }
          .cbu{
            width:65%;
            border-left: 2px dashed black;
            height: 60%;
            font-family:map-get($fonts, Roboto );
            color: map-get($colors, dark-gray);
            padding-left: 40px;
        }

        @include media(sm){
            height: auto;
            border-top: 1px solid black;
            border-bottom: 1px solid black;
            padding: 40px 0;
        }
            .datos-contenedor{
                text-align: left;
            }
            .datos-title{
                font-size: 0.8em;
            }
            .cbu{
                border-left: 1px dashed black;
                p{
                    font-size:0.9em;
                    strong{
                        font-size: 1em;
                    }
                }
            }

      }

   
      
    
}