main{
    height:552px;
    background-image: url('../images/fondo-principal.png');
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    
    .botones{
        display:flex;
        justify-content: center;
        position:relative;
        top: 50%;

    }    
}

