main{
    height:552px;
    background-image: url('../images/fondo-principal.png');
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    .bg-main-mobile{
        display:none;
    }
    .mobile-titles{
        &-1,&-2{display:none;}
    }
    .botones{
        display:flex;
        justify-content: center;
        position:relative;
        top: 50%;
        @include media(sm){
            top:340px;
            flex-direction: column;
            position: relative;
        }

    }    

    @include media(sm){
        height: 730px;
        background-size:576px 375px;
        background-position: top;
        h2{font-weight:bold;}
        
        .mobile-titles{
               
                &-1{
                    @include mobile-titles;
                    top:169px;
                   
                    
                    p{font-weight:400;}
                   
                
                }
                &-2{
                    @include mobile-titles;
                    top:300px;
                    p{color:black;
                    font-weight: 500;}
                }
        }
        .bg-main-mobile{
            display:block;
            position:absolute;
            top:390px;
        }







    }
}

