
.nosotros{

    background-image: url('../images/bg-nosotros.png');
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    padding-top:$pt-sections;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
    .bg-us-mobile{
        display:none;
    }
     .review-mobile{display:flex;
    justify-content:center;
background-color: transparent;}
.nosotros-top{
     width:70%;
     align-self: center;
     margin-bottom: 30px;
    
    &-title{
        color: map-get($colors,orange-1);
        font-size: 4.8em;
        font-family:map-get($fonts, font-2 );
    }
    &-info{
       @include txt-content;  
    }
    }
    .reviews-title{
        color:map-get($colors, light-gray );
        font-family: map-get($fonts, font-2 );
        display: flex;
        justify-content: center;
        margin-top: 1.2em;
        h2{
            font-weight: 500;
        }
    }

    .review{
     display:flex;
     justify-content: space-around;
     padding: 60px 10%;
     
    }

    @include media(sm){
        padding-top:$pt-sections*0.2;
        background-image:none;
        
        justify-content: flex-start;
        .bg-us-mobile{
            display:block;
            position:absolute;
            top:750px;
            z-index:0;
            max-width:100%;
        }
        .nosotros-top{
            width:85%;
            align-self: center;
            &-title{
                font-size:2.9em;
                margin-bottom:20px;
            }
            &-info{
                font-size:1.2em;  
             }
        }
        .reviews-title{
            color:map-get($colors, white );
            font-family: map-get($fonts, font-2 );
            display: flex;
            justify-content: center;
            margin-top: 0;
            position:relative;
            top:50px;
            h2{
                font-size:1.3em;
            }
        }

        .review { display:none;}
        .review-mobile{

            display:flex;
            justify-content: center;
            align-items: center;
            width:100vw;
            height:380px;
            background-color: rgba(map-get($colors, orange-1 ),1);


        }



    }
}

div.eapps-widget {
    
    height: 230px;
    overflow: hidden!important;
    z-index: 0!important;
}