
.nosotros{

    background-image: url('../images/bg-nosotros.png');
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    padding-top:$pt-sections;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height:100vh;
    
.nosotros-top{
     width:70%;
     align-self: center;
    
    &-title{
        color: map-get($colors,orange-1);
        font-size: 4.8em;
        font-family:map-get($fonts, font-2 );
    }
    &-info{
       @include txt-content;  
    }
    }
    .reviews-title{
        color:map-get($colors, light-gray );
        font-family: map-get($fonts, font-2 );
        display: flex;
        justify-content: center;
        margin-top: 1.2em;
    }

    .review{
     display:flex;
     justify-content: space-around;
     padding: 60px 10%;
     
    }
}