
.nosotros{

    max-width: 70%; 
    padding-top:$pt-sections;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
   
.nosotros-top{
   
    
    &-title{
        color: map-get($colors,orange-1);
        font-size: 4.8em;
        font-family:map-get($fonts, font-2 );
    }
    &-info{
       @include txt-content;  
    }
    }
    .reviews-title{
        color:map-get($colors, light-gray );
        font-family: map-get($fonts, font-2 );
        display: flex;
        justify-content: center;
        margin-top: 1.2em;
    }

    .review{
     display:flex;
     justify-content: space-around;
     padding: 60px 10%;
     
    }
}