#us{

    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 70%;
    padding: 10px;
   
.nosotros-top{
    padding-top:6%;
    
    &-title{
        color: map-get($colors,orange-1);
        font-size: 4.8em;
        font-family:map-get($fonts, font-2 );
    }
    &-info{
       font-size: 1.3em; 
       font-family: map-get($fonts, Roboto );
       color: map-get($colors,dark-gray);
       font-weight:400;   
       margin-top: 1.2em;
       
    }
    }
    .reviews-title{
        color:map-get($colors, light-gray );
        font-family: map-get($fonts, font-2 );
        display: flex;
        justify-content: center;
        margin-top: 1.2em;
    }

    .review{
     display:flex;
     justify-content: space-around;
     padding: 0 10%;
     
    }
}