* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size:$font-size;
}

ul {
  list-style-type: none;
  margin:0;
}

a {
  text-decoration: none;
}

hr{
  background-color: white;
}

.no-scroll{
  overflow:hidden;
}

.body-fade{
  animation: b-fade 0.5s linear forwards;
}

@keyframes b-fade{
  from {opacity:0};
  to {opacity:1};
}