* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size:$font-size;
}

// body{

//   position:relative;
// }
ul {
  list-style-type: none;
  margin:0;
}

a {
  text-decoration: none;
}

hr{
  background-color: white;
}

